body {
    font-family: "Courier New", Courier, monospace;
    max-width: 500px;
    margin: auto;
    background: black;
    padding: 10px;
}

h1 {
    font-family: "Courier New", Courier, monospace;
    color: #00ff00;
    font-size: 1.5em;
}

.check-button {
    accent-color: red;
}

label {
    font-family: "Courier New", Courier, monospace;
    color: lawngreen;
    width: 150px;
    display: inline-block;
}

table, th, td {
    font-family: "Courier New", Courier, monospace;
    color: #00ff00;
    border: 1px solid #00ff00;
    border-collapse: collapse;
    padding: 5px;
}

th {
    font-family: "Courier New", Courier, monospace;
    color: #00ff00;
    text-align: left;
}

p {
    font-family: "Courier New", Courier, monospace;
    color: #00ff00;
    margin-top: 10px;
    margin-bottom: 10px;
}

button, select{
    border: 2px solid #00ff00;
    background-color: black;
    color: #00ff00 !important;
}

a {
    color: #00ff00 !important;
}

input[type="text"], input[type="number"] {
    border: 2px solid #00ff00;
    background-color: black;
    color: #00ff00 !important;
    width:200px;
    box-sizing:border-box;
}

div {
    color: #00ff00 !important;
}
