<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
  <link th:href="@{/mainStyle.css}" rel="stylesheet">
    <title>Create Superhero</title>
</head>
<body>
  <form th:object="${superheroForm}" method="post">
    <select th:field="*{selectedValue}">
      <option value="">--Please select--</option>
      <option th:each="value : ${cities}" th:value="${value}" th:text="${value}"></option>
    </select>
    <button type="submit">Submit</button>
  </form>
</body>
</html>